Intro.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2025 rel. 2 (x64) (https://www.altova.com) by Tulli (Tulli) -->
<!-- W3C Schema generated by XMLSpy v2021 rel. 3 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Data" nillable="true">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Date" type="xs:string"/>
	<xs:element name="Error">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="lang" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="en"/>
								<xs:enumeration value="fi"/>
								<xs:enumeration value="sv"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Errors">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Error" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Example">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Introduction">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="System" minOccurs="3" maxOccurs="3"/>
				<xs:element ref="VersionHistory"/>
				<xs:element ref="Errors" minOccurs="0"/>
				<xs:element ref="MessageList"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ME" nillable="true">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Message">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_Message">
					<xs:attribute name="base" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="decl"/>
								<xs:enumeration value="resp"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="MessageList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Message" maxOccurs="unbounded"/>
				<xs:element ref="Example" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Note">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="lang" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="en"/>
								<xs:enumeration value="fi"/>
								<xs:enumeration value="sv"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Notes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Note" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Number">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Remarks">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_Remarks">
					<xs:attribute name="lang" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="en"/>
								<xs:enumeration value="fi"/>
								<xs:enumeration value="sv"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Schema" nillable="true">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="System">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_System">
					<xs:attribute name="lang" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="en"/>
								<xs:enumeration value="fi"/>
								<xs:enumeration value="sv"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Version">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Number"/>
				<xs:element ref="Date"/>
				<xs:element ref="Remarks" maxOccurs="3"/>
				<xs:element ref="Notes"/>
				<xs:element ref="Data" minOccurs="0"/>
				<xs:element ref="Schema" minOccurs="0"/>
				<xs:element ref="ME" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="VersionHistory">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Version" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="ST_Message">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ST_Remarks">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ST_System">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
</xs:schema>